{% extends "base.html" %}
{% block body_class %}page-background{% endblock %}
{% block title %}Dashboard - TasteHub{% endblock %}

{% block content %}
<div class="container py-5">

    <div class="text-center mb-5">
        <h1> Welcome to your Tastehub dashboard!</h1>
        <p class="lead"> Hello, {{ user.first_name }}!</p>
        <p class="text-muted">Discover recipes, create your own and share your favourites.</p>
    </div>

    <div class="row g-4">

        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-0 rounded-4">
                <div class="card-body text-center d-flex flex-column">
                    <h4>🍴 My Recipes</h4>
                    <p class="text-muted">
                        Manage and view your saved recipes.
                    </p>
                    <div class="mt-auto pt-3">
                        <a href="{% url 'my_recipes' %}" class="btn btn-primary">
                            My Recipes
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-0 rounded-4">
                <div class="card-body text-center d-flex flex-column">
                    <h4>📝 Create Recipe</h4>
                    <p class="text-muted">
                        Add new recipes to your collection.
                    </p>
                    <div class="mt-auto pt-3">
                        <a href="{% url 'create_recipe' %}" class="btn btn-primary">
                            Create Recipe
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-0 rounded-4">
                <div class="card-body text-center d-flex flex-column">
                    <h4>🔍 Explore Recipes</h4>
                    <p class="text-muted">
                        Discover recipes from TasteHub and TheMealDB.
                    </p>
                    <div class="mt-auto pt-3">
                        <a href="{% url 'browse_recipes' %}" class="btn btn-primary">
                            Browse Recipes
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}