{% extends "base.html" %}
{% block body_class %}page-background{% endblock %}
{% block title %}{{ recipe.name }} - TasteHub{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">
        <div class="col-lg-8">

            <div class="card shadow-sm border-0 rounded-4">

                <div class="card-body p-4 p-md-5">

                    <h1 class="fw-bold mb-3">
                        {{ recipe.name }}
                    </h1>

                    <p class="text-muted mb-4">
                        {{ recipe.description }}
                    </p>

                    <div class="mb-4">
                        <h4 class="fw-bold">Category</h4>
                        <p>{{ recipe.category }}</p>
                    </div>

                    <div class="mb-4">
                        <h4 class="fw-bold">Ingredients</h4>
                        <p style="white-space: pre-line;">
                            {{ recipe.ingredients }}
                        </p>
                    </div>

                    <div class="mb-4">
                        <h4 class="fw-bold">Instructions</h4>
                        <p style="white-space: pre-line;">
                            {{ recipe.instructions }}
                        </p>
                    </div>

                    <div class="border-top pt-3 mb-4">
                        <small class="text-muted">
                            Created by {{ recipe.author.username }}
                        </small>
                    </div>
                    {% if recipe.author == user %}

                    <div class="d-flex gap-2">
                        <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-primary">
                            Edit Recipe
                        </a>

                        <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-outline-danger">
                            Delete Recipe
                        </a>

                        <a href="{% url 'my_recipes' %}" class="btn btn-primary">
                            ← Back to My Recipes
                        </a>
                    </div>

                    {% else %}

                    <div>
                        <a href="{% url 'home' %}" class="btn btn-primary">
                            ← Back to TasteHub Recipes
                        </a>
                    </div>

                    {% endif %}

                </div>

            </div>

        </div>
    </div>

</div>

{% endblock %}